@model Armitage.Models.Tag
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
@{
    ViewBag.Title = "Testing";
}

<h2><a>Post Tags</a></h2>

<dive class="section-wrapper">
    <div id="TagList">
        @Html.Action(actionName: "_TagList",
                 controllerName: "PostMetaData")
    </div>
    <div id="loadingtag">
        <img src="~/Content/img/ajax-loader.gif" />
    </div>
    @{Html.RenderPartial("_TagForm");}
</dive>
<hr />
<h2>Post Categories</h2>

<div class="section-wrapper">
    <div id="CategoryList">
        @Html.Action(actionName: "_CategoryList",
                 controllerName: "PostMetaData")
    </div>
    <div id="loadingtag2">
        <img src="~/Content/img/ajax-loader.gif" />
    </div>

    @{Html.RenderPartial("_CategoryForm");}
</div>